name: tallerdeceramicaricardorojas
description: "A new Flutter project."
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0' # Es una mejor práctica usar un rango más flexible

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  # --- ESTA ES LA LÍNEA CORREGIDA ---
  # Cambiamos 'font_awesome' por 'font_awesome_flutter' y usamos una versión reciente.
  font_awesome_flutter: ^10.7.0 
  google_fonts: ^6.2.1
  url_launcher: ^6.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/